body{
    background-image:url(bg_res1.jpg);
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 80px;
}

.logo img
{
    width: 200px;
    height: auto;
    position: absolute;
    top: -500px;
    left: 1620px;
}

h1{
    font-size: 50px;
    font-weight: bolder;
    position: absolute;
    top: -500px;
    left: 450px;
}

h2{
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: -430px;
    left: 12px;
}

p{
    font-size: 35px;
    font-weight: lighter;
    position: relative;
    top: -340px;
    left: 12px;
}

.items{
        font-weight: bold;
    font-size: 35px;
    position: relative;
    left: 440px;
    top: -350px;
    letter-spacing: 3px;
    word-spacing: 6px;
}
.items a{
    text-decoration: none;
    color: black;
}
