body{
    background-image:url(bg_res1.jpg);
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 80px;
    
}
h2
{
    
    font-weight: bold;
    font-size: 130px;
    position: relative;
    left: 200px;
    top: 160px;
    letter-spacing: 10px;
    text-shadow: 3px 3px 0px goldenrod;

}

.items{
        font-weight: bold;
    font-size: 35px;
    position: relative;
    left: 980px;
    top: -90px;
    letter-spacing: 3px;
    word-spacing: 6px;
    background-color: rgb(224, 224, 172);
}
.items a{
    text-decoration: none;
    color: black;
}

.menuf {
    display: flex;
    gap: 35px;
    width: 150%;
    margin: 100px;
}

.food {
    background-color:rgb(224, 224, 172);
    padding: 36px;
    text-align: center;
    border-radius: 8px;
    
}
.food img {
    width: 202px;
    height: 240px;
    object-fit: cover;
}

footer p{
    text-align: center;
    color: brown;
    background: gainsboro;
    margin-bottom: 1%;
    top: 40px;
    width:1950px;
    font-size: 30px;
}